### OSX ###
*.DS_Store
._*

### Eclipse ###
.settings/
.project
.classpath
.tern-project

### Maven ###
target/

### Java ###
*.class
*.jar

# ignora pasta de exemplos
src/main/java/br/com/rcmoutinho/javatohtml/examples/

# documentação e arquivos locais do projeto
docs/
