### OSX ###
*.DS_Store
._*

### Eclipse ###
.settings/
.project
.classpath
.tern-project

### Maven ###
target/

### Java ###
*.class
*.jar

# ignore generated examples
src/main/java/br/com/javatohtml/examples/**/*.html

# ignore local documentation files
docs/
